services:
  api-gateway:
    build: .
    container_name: api-gateway
    ports:
      - 8080:8080
    environment:
      KEYCLOAK_ISSUER_URI: http://154.38.180.80:8080/realms/group3realm
      KEYCLOAK_BASE_URL: http://154.38.180.80:8080
      KEYCLOAK_REALM: group3realm
      KEYCLOAK_CLIENT_ID: group3app
      KEYCLOAK_CLIENT_SECRET: pS9x84Qm0FkOJVrueg5OTtNYCWCAGtEp